h1 {
    color: #71aafa;
    text-align: center;
    background-size: cover;
    padding: 50px;

}

h2 {
    color: #ff00a6;
    text-align: center;

}

table {
    border: 6px #ff00a6 solid;
    width: 650px;
    margin: auto;
}

thead {
    background-color: #ff00a6;

}

td {
    border: 4px solid #71aafa;

}

.code {
    font-family: "Courier New", Courier, monospace;
    background-color: #ff00a6;
    color: #71aafa;
    padding: 2px 4px;
    border-radius: 4px;
}